<?xml version="1.0"?>
<launch>
  <arg name="profile" default="area_mixed" />
  <arg name="speed_scale" default="1.0" />
  <arg name="config_file" default="$(find zebrat)/config/dynamic_obstacles_area.yaml" />
  <arg name="enable_predictions" default="true" />
  <arg name="prediction_source" default="scan" />
  <arg name="prediction_topic" default="/move_base/TebLocalPlannerROS/obstacles" />
  <arg name="prediction_rate" default="12.0" />
  <arg name="prediction_scan_topic" default="/scan" />
  <arg name="prediction_frame" default="map" />

  <node
    name="dynamic_obstacles"
    pkg="zebrat"
    type="dynamic_obstacles.py"
    output="screen">
    <rosparam command="load" file="$(arg config_file)" />
    <param name="profile" value="$(arg profile)" />
    <param name="speed_scale" value="$(arg speed_scale)" />
  </node>

  <group if="$(arg enable_predictions)">
    <node
      if="$(eval arg('prediction_source') == 'scan')"
      name="scan_dynamic_obstacle_predictions"
      pkg="zebrat"
      type="scan_dynamic_obstacle_predictions.py"
      output="screen">
      <param name="scan_topic" value="$(arg prediction_scan_topic)" />
      <param name="output_topic" value="$(arg prediction_topic)" />
      <param name="output_frame" value="$(arg prediction_frame)" />
      <param name="publish_rate" value="$(arg prediction_rate)" />
    </node>

    <node
      if="$(eval arg('prediction_source') == 'gazebo')"
      name="dynamic_obstacle_predictions"
      pkg="zebrat"
      type="dynamic_obstacle_predictions.py"
      output="screen">
      <rosparam command="load" file="$(arg config_file)" />
      <param name="profile" value="$(arg profile)" />
      <param name="speed_scale" value="$(arg speed_scale)" />
      <param name="output_topic" value="$(arg prediction_topic)" />
      <param name="publish_rate" value="$(arg prediction_rate)" />
      <param name="frame_id" value="$(arg prediction_frame)" />
    </node>
  </group>
</launch>
